.vertical-dots {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 1000;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccb6b6; 
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #e99e09; 
}
